<h2>Template: <small>Dinamicos</small></h2>
<hr>
<form #formularioDinamico="ngForm" (ngSubmit)="guardar()">
    <div class=" mb-3 row">
        <label class="col-sm03 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text" name="nombre" class="form-control" [ngModel]="persona.nombre" placeholder="Nombre de la persona" required>
        </div>
    </div>

    <div class=" mb-3 row">
        <label class="col-sm03 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">

                <input type="text" ngModel name="nombreJuego" class="form-control"  placeholder="Agregar Favorito">
                <button (click)="agregar()" class="btn btn-outline-primary" type="button">
                    Agregar
                </button>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm03 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group mb-1" *ngFor="let juego of persona.favoritos; let i = index" >

                <input type="text" class="form-control" name="favorito_{{i}}" [(ngModel)]="juego.nombre">
                <button class="btn btn-outline-danger" (click)="eliminar(i)" type="button">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class="col-sm-9">
          <button [disabled]="!formularioDinamico.valid" class="btn btn-primary float-end" type="button" (click)="guardar()">
              Guardar
          </button>
        </div>
    </div>
</form>

<span>Persona</span>

<pre>{{
persona | json    
}}</pre>